@CHARSET "ISO-8859-1";

	body {
	font-family: Tahoma, Arial, sans-serif;
	line-height: 1.3em;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-size: 12px;
	color: #333;
	background: #DF0101;
}